CMakeLists.txt.user*
Makefile
CMake/common/
___*
build/
/Collage/
/Deflect/
/Equalizer/
/FlatBuffers/
/GLStats/
/Lunchbox/
/Pression/
/RESTBridge/
/Servus/
/Tuvok/
/ZeroBuf/
/cppnetlib/
/hwsd/
/vmmlib/
/ZeroEQ/
*.qmlc
